.filter-wrapper {
    width: 100%;
    max-width: 1248px;
    height: 88px;
    margin: auto;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    margin-top: 1.25rem;
}

.filter-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.desktop-view {
    display: none;
}

.desktop-view-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.desktop-view-left {
    display: flex;
    align-items: center;
}

.items-count {
    color: #6b7280;
    font-family: 'Simplon Norm', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
}

.filter-button {
    margin-left: 1rem;
    color: #374151;
    font-family: 'Adobe Caslon Pro', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: left;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 0.5rem;
}

.Recommended {
    margin-left: auto; 
}

.sort-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 51rem;
}

.sort-option {
    color: #6b7280;
    font-family: 'Simplon Norm', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
}

.icon-wrapper {
    margin-left: 0.5rem;
}

.dropdown-menu {
    position: absolute;
    width: 15rem;
    background: white;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-item {
    width: 100%;
    padding: 0.5rem 1rem;
    color: #374151;
    text-align: right;
    font-size: 0.875rem;
    font-family: 'Simplon Norm', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f3f4f6;
}
/* mobile */
.mobile-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    width: 100%;
    max-width: 375px;
    margin: auto;
}

.mobile-filter-button {
    color: #6b7280;
    font-family: 'Simplon Norm', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.divider {
    border-right: 1px solid #d1d5db;
    height: 1.5rem;
    margin: 0 1rem;
}

.relative {
    position: relative;
}

/* Tablet*/
@media (max-width: 1024px) {
    .items-count {
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .filter-button {
        margin-left: auto;
        margin-right: auto;
    }

    .Recommended {
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .sort-button {
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-menu {
        right: 0;
        margin-top: 0.5rem; 
        margin-left: auto;
        margin-right: 3rem;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .desktop-view {
        display: flex;
    }

    .mobile-view {
        display: none;
    }

    .filter-container {
        padding: 0; 
    }

    .dropdown-menu {
        right: 0;
        margin-top: 15.5rem;
        margin-left: auto;
        margin-right: 9rem;
    }
}
