/* Footer.css */

.footer {
    background-color: black;
    color: white;
    padding: 32px 0;
}

.container {
    width: 100%;
    max-width: 1248px;
    margin: auto;
    padding: 0 16px;
}

.footer-row {
    display: flex;
    flex-direction: column;
    gap: 32px; /* Adjusted gap for mobile view */
}

.footer-second {
    display: flex;
    flex-direction: column;
    gap: 32px; /* Adjusted gap for mobile view */
}

.footer-col,
.footer-col-second {
    flex: 1;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}
.currency{
display: flex;
margin-bottom: 10px;
gap:5px
}

.spacing{
    margin-top: 24px;
}
.subscribe-form {
    display: flex;
    gap:15px;
    margin-top: 25px;
}

.subscribe-input {
    flex: 1;
    padding: 8px;
    border: none;
}

.subscribe-button {
    padding: 8px;
    background-color: black;
    color: black;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    color: #FFFFFF;
}

.currency-info {
    color: #9ca3af;
}

.footer-divider {
    border: 1px solid #e5e7eb;
    margin: 32px auto; /* Centers the divider */
    width: 90%; /* Adjusts the width of the divider */
    border-radius: 5px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icon img {
    height: 32px;
}

.payment-icons {
    display: flex;
    gap: 16px;
}

.payment-icons img {
    height: 32px;
}

.footer-bottom {
    text-align: center;
    margin-top: 32px;
    font-family: 'Simplon', sans-serif;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .footer-row,
    .footer-second {
        flex-direction: row;
        gap: 32px; /* Adjusted gap for tablet view */
    }

    .footer-col,
    .footer-col-second {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .footer-row{
        flex-direction: row;
        gap: 370px; /* Adjusted gap for desktop view */
    }
    .footer-second {
        flex-direction: row;
        gap: 181px; /* Adjusted gap for desktop view */
    }

    .footer-col,
    .footer-col-second {
        flex: 1;
    }

    .footer-col-second {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
